@model Mishutki.Domain.Entities.BannerPlace

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-title">
                <h2><strong>Basic Form</strong> Elements</h2>
            </div>
            @using (Html.BeginForm("Create", "BannerPlace", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
            {
                @Html.HiddenFor(b => b.BannerPlaceId)
                <div class="form-group">
                    @Html.LabelFor(b => b.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(b => b.Title, new { @class = "form-control", placeholder = "Название" })
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-angle-right"></i> Сохранить</button>
                        <a class="btn btn-sm btn-warning" href="@Url.Action("Index")"><i class="fa fa-repeat"></i> Отменить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
