@{
    ViewBag.Title = "Подтверждение адреса электронной почты";
}

<div class="main-display-email col-sm-12">
    <h2>@ViewBag.Title.</h2>
    <p>Пожалуйста, проверьте свою электронную почту и подтвердите адрес электронной почты.</p>
</div>