@model Mishutki.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
}

<!-- BEGIN MAIN CONTENT -->
<div class="main col-sm-12">
    <div class="login col-sm-5 col-sm-offset-1">
        <h1 class="center">Забыли пароль?</h1>
        <div class="col-sm-12">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-style", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h5>Введите ваш адрес электронной почты</h5>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Почта" })
                <button class="btn btn-fullcolor" type="submit">Отправить</button>
            }
        </div>
    </div>

    <div class="login-info col-sm-4 col-sm-offset-1">
        <h1>Что дает регистрация?</h1>
        <p>После регистрации, вы получите возможность присылать на наш сайт свои шутки и анекдоты. Также, у вас появится возможность голосовать за понравившиеся шутки других зарегистрированных пользователей.</p>
    </div>
</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
