@{
    ViewBag.Title = "Пароль сброшен";
}

<div class="main-display-email col-sm-12">
  <h2>@ViewBag.Title</h2>
  <p>Ваш пароль был сброшен. Пожалуйста @Html.ActionLink("нажмите здесь, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).</p>
</div>
