@{
    ViewBag.Title = "О нас";
}

<div class="row">
    <div class="main col-sm-8">
        <div class="center">
            <h2 data-animation-delay="50" data-animation-direction="from-left" class="section-highlight animate-from-left animation-from-left">О нас</h2>
            <p data-animation-delay="650" data-animation-direction="from-left" class="animate-from-left animation-from-left">Мишутки - это ресурс, на котором собран самый лучший юмор всех времен и народов.
            <br/><br />

После регистрации, вы получите возможность прислать нам свою шутки, анекдоты,  забавные фото и видео. Также, вы сможете голосовать за шутки, присланные другими пользователями.
                <br /><br />
Каждый четверг, в эфире «Русского Радио» в программе «Мишутки», проводится «Чемпионат

мира по анекдотам» - зачитываются присланные вами шутки, а по итогам программы, мы

выбираем  три самые смешные шутки, которые получают призы от Русского Радио! В каждом

выпуске программы, вас ждет анекдот от звезды.
                <br /><br />
По итогам года будет выбран один – самый лучший анекдот. Удачи!</p>
        </div>
    </div>

    <div class="col-sm-4">
        @*<img width="350" height="350" data-animation-delay="200" data-animation-direction="from-right" alt="" src="/content/images/mishutki-contacts.jpg" class="animate-from-right animation-from-right">*@
    </div>
</div>