@{
    ViewBag.Title = "Контакты";
}

<div class="row">
    <div class="main col-sm-6">
        <div class="center">
            <h2 data-animation-delay="50" data-animation-direction="from-left" class="section-highlight animate-from-left animation-from-left">Контакты</h2>
            <address data-animation-delay="650" data-animation-direction="from-left" class="animate-from-left animation-from-left">
                <strong>Телефон:</strong> +7 (906) 784-38-78<br />
                <strong>Почта:</strong> <a href="mailto:support@mishutki.ru">support@mishutki.ru</a>
            </address>
        </div>
    </div>

    <div class="col-sm-6">
        @*<img width="350" height="350" data-animation-delay="200" data-animation-direction="from-right" alt="" src="/content/images/mishutki-contacts.jpg" class="animate-from-right animation-from-right">*@
    </div>
</div>