@{
    ViewBag.Title = "Шутка успешно отправлена!";
}

<div class="main-display-email col-sm-12">
    <h2>@ViewBag.Title</h2>
    <p>Ваша шутка успешно отправлена модератору на рассмотрение. Как только модератор одобрит шутку она появится на сайте.</p>
</div>