@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul id="top-buttons">
        <li><i class="fa fa-user"></i> @User.Identity.GetUserName()
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Выход</a></li>
    </ul>
    }
}
else
{
    <ul id="top-buttons">
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Вход</a></li>
        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
    </ul>
}
